html { font-family: Arial, sans-serif; }
table { border-collapse: collapse;}
td, th { border:1px solid black; padding:3px; text-align:left;}
th { background-color:#eee;}

body { font-size:14px; font-family:sans-serif; }
button { font-size:11px !important; margin:2px 2px 2px 2px !important;}

#header-wrapper {  padding-left:2em; }

#dashboard-wrapper { }

#tool-bar { margin-top:1em; }
#user-session { margin: 5px 5px 5px 5px; text-align:right; }

#projects-wrapper .project-summary { margin:10px 0 10px 0; padding:10px 10px 10px 10px; cursor:default; width:750px; }

#projects-wrapper .project-summary .project-info { vertical-align:top; width:20em; padding-right:10px; }
#projects-wrapper .project-summary .project-info .project-name { font-weight:bold; }
#projects-wrapper .project-summary .project-info .project-about { padding:0; margin:0; }

#projects-wrapper .project-summary .plan-summary { vertical-align:top; padding-left: 10px; border-left:silver dotted 1px; }
#projects-wrapper .project-summary .plan-summary ul { margin:0; padding:0; }
#projects-wrapper .project-summary .plan-summary ul li { list-style:none; }
#projects-wrapper .project-summary .plan-summary ul li .plan-name { padding-right:1em; }
#projects-wrapper .project-summary .plan-summary ul li .plan-state { color:gray; font-style:italic; }

#projects-wrapper .project-summary .plan-chart { display:inline-block; vertical-align:middle; padding-left: 10px; }
#projects-wrapper .project-summary .project-info .project-release { margin:0; padding:0; }
#projects-wrapper .project-summary .project-info .project-release li { list-style:none; display:inline-block; margin: 4px 4px 0 0; padding:2px 5px 2px 5px; font-size:10px; }

#create-project-dialog label { display:block; }

#create-test-plan-dialog th { text-align:right; vertical-align:top; }
#create-test-plan-dialog td { text-align:left; vertical-align:top; }

#footer-wrapper { text-align:center;}
